<html>
<head>
<title>See You Later!</title>
</head>
<body>
<h1>Goodbye!</h1>
<p>
It was nice having you here.
</p>
<p>
Try again pls...
<%= link_to "Hello!", :action => "hello" %>
</body>

</body>
</html>

